<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Chat Socket.IO</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div id="app">
        <div>
            <input @keypress.enter="changePseudo" v-model="pseudo" size="100" />
        </div>
        <div>
            <textarea v-model="str_messages" cols="100" rows="40" disabled></textarea>
        </div>
        <div>
            <input @keypress.enter="sendMessage" v-model="client_message" size="100" :disabled="!connected" />
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>

    <script>
        const socket = io('http://localhost:5055')

        socket.on('connect', () => {
            app.connected = true
        })

        socket.on('disconnect', () => {
            app.connected = false
        })

        socket.on('new_message', (data) => {
            app.messages.push(data)
        })

        const app = new Vue({
            el: '#app',
            data() { return {
                client_message: '',
                messages: [],
                pseudo: '',
                connected: false
            }},
            computed: {
                str_messages() {
                    let str = ''
                    for (let msg of this.messages) {
                        str += `[${msg.date}] ${msg.pseudo}: ${msg.message}\n`
                    }
                    return str
                }
            },
            methods: {
                sendMessage() {
                    socket.emit('send_message', { message: this.client_message })
                    this.client_message = ''
                },
                changePseudo() {
                    socket.emit('change_pseudo', { pseudo: this.pseudo })
                }
            }
        })
    </script>
</body>
</html>